@import 'tailwindcss';

@theme {
  --color-c-sky-400: #d2e2ff;
  --color-c-sky-500: #b8d1ff;
  --color-c-blue-400: #6687ff;
  --color-c-blue-500: #425cf9;
  --color-c-blue-600: #2930e6;
  --color-c-orange-400: #ffbe64;
  --color-c-orange-500: #ff9500;
  --color-c-orange-600: #ef7103;
  --color-c-red-400: #ff8484;
  --color-c-red-500: #f65058;
  --color-c-red-600: #e31c20;
  --color-c-green-400: #63ef8b;
  --color-c-green-500: #00c943;
  --color-c-green-600: #00aa3c;
  --color-c-slate-200: #f2f5fa;
  --color-c-slate-300: #edeff9;
  --color-c-slate-400: #cad5e2;
  --color-c-slate-500: #a6adbd;
  --color-c-slate-600: #090e3a;
}
