@import 'tailwindcss';

@theme {
  --color-blue: #425cf9;
  --color-blue-dark: #2930e6;
  --color-blue-light: #6687ff;
  --color-yellow: #fddc5c;
  --color-yellow-dark: #fbc63f;
  --color-yellow-light: #ffef89;
  --color-slate: #f5f7fa;
  --color-slate-dark: #cad5e2;
  --color-font: #090e3a;
}
